*
!Dockerfile
!Dockerfile.api
!nginx.conf
!requirements.txt
!server/
!server/**
!database/
!database/initial.sqlite3
!database/migrations/
!database/migrations/**
!public/
!public/**
**/__pycache__/
**/*.pyc
**/*.sqlite
**/*.sqlite3
**/*.db
**/*.sqlite-wal
**/*.sqlite-shm
**/*.sqlite-journal
**/*.sqlite3-wal
**/*.sqlite3-shm
**/*.sqlite3-journal
**/*.sqlite3.tmp.*
**/*.sqlite3.sha256
**/*.db-wal
**/*.db-shm
**/*.db-journal
!database/initial.sqlite3
